.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.outer-container {
  padding: 3rem;
  padding-inline: 20rem;
  box-shadow: 0 4px 14px 4px #999;
  background-color: #F0F0F0;
}

.container {
  height: 35rem;
  width: 45rem;
  border-radius: 30px;
  border-bottom-right-radius: 250px;
  box-shadow: 0 4px 14px 0px #999;
  background-color: white;
}

.form-title {
  letter-spacing: 2;
  color: gray;
}

.submit-form {
  width: 7rem;
  height: 2rem;
  border: 2px solid #ddd;
  font-weight: bold;
  font-size: large;
  padding-inline: 0.5rem;
}

.form-group,
.form-group1 {
  display: inline-flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 2rem;
}

.form-group1 {
  position: relative;
}

.submit-button::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  width: 86.5%;
  border-top: 2px solid #ddd;
}

.submit-button {
  background-color: #834AFE;
  border-radius: 50%;
  border: none;
  height: 5rem;
  width: 5rem;
  margin-left: 35rem;
  margin-top: 0.5rem;
  color: white;
  font-size: 65px;
  padding-top: 0.5rem;
}

.age-years {
  font-size: 60px;
  color: #834AFE;
  font-weight: bolder;
  margin-left: 2rem;
  font-style: italic;
}

.years-text {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  font-style: italic;
}

.error {
  margin-left: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 770px) {
  .outer-container{
    width: 7%;
    height: 75%;
    padding-inline: 15rem;
  }
  .container {
    height: 30rem;
    width: 40rem;
    margin-left: -18rem;
  }
  .submit-button {
    margin-left: 31rem;
  }
}

@media (max-width: 1025px) {
  .outer-container{
    width: 35%;
  }
  .container {
    margin-left: -10rem;
  }
}

@media (max-width: 321px) {
  .outer-container {
    padding-inline: 90px;
    height: 50rem;
    margin-top: 20rem;
  }
  .container{
    width: 15rem!important;
    margin-left: -4rem;
    margin-top: -1rem;
    height: 50rem;
    }
    .submit-button {
      margin-left: 7rem;
      margin-top: 1rem;
    }
    .submit-button::after {
      width: 55.5%;
  }  
  .age-years {
    margin-left: 1rem;
  }
}

@media (max-width: 376px) {
  .outer-container {
    padding-inline: 90px;
    height: 50rem;
    margin-top: 20rem;
  }
  .container{
    width: 16rem!important;
    margin-left: -4rem;
    margin-top: -1rem;
    height: 50rem;
    }
    .submit-button {
      margin-left: 7rem;
      margin-top: 1rem;
    }
    .submit-button::after {
      width: 55.5%;
  }  
  .age-years {
    margin-left: 1rem;
  }
}

@media (max-width: 430px) {
  .outer-container {
    padding-inline: 90px;
    height: 50rem;
    margin-top: 20rem;
  }
  .container{
    width: 17rem;
    margin-left: -4rem;
    margin-top: -1rem;
    height: 50rem;
    }
    .submit-button {
      margin-left: 7rem;
      margin-top: 1rem;
    }
    .submit-button::after {
      width: 55.5%;
  }  
  .age-years {
    margin-left: 1rem;
  }
}